body {
  font-family: "Josefin Sans", sans-serif;
}

.card-container {
  position: absolute;
}

#card-body {
  width: 250px;
  height: 320px;
  background-color: #ebebeb;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease-in-out;
  position: relative;
  border: 1px solid #bfbfbf;
  box-shadow: 5px 5px 2px #aaaaaa;
}

#card-body:hover {
  cursor: pointer;
}

/* front of info card */

#card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  backface-visibility: hidden;
  position: fixed;
}

.front-info {
  text-align: center;
}

/* back of info card */

#card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  position: absolute;
  padding: 15px;
}

#card-back p {
  margin: 10px;
  text-align: center;
}

.img-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-img {
  width: 90%;
}

.flip-card {
  transform: rotateY(180deg);
}
